<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限管理-Y·F 仓储管理</title>
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/index.css" media="all"/>
    <script type="text/javascript" src="/resources/layui/layui.js"></script>
</head>
<frameset cols="260,*" border="1">
    <frame src="/sys/loadMenuManagerLeft" name="left">
    <frame src="/sys/loadPermissionManagerRight" name="right">
</frameset>
</html>